//Breakponts
$desktop-breakpoint:720px;

//Colours
$huddle-pink: hsl(322, 100%, 66%);
$huddle-cyan-light:#F6FBFF;
$huddle-cyan-dark:hsl(192, 100%, 9%);
$huddle-grey-blue:hsl(208, 11%, 55%);

//Fonts
$heading-font:'Poppins',
sans-serif;
$body-font:'Open Sans',
sans-serif;
//Mobile font sizes
$p-size-m:4.8vw;
$h1-size-m:6.66vw;
$h2-size-m:5.6vw;
$h3-size-m:5.066vw;
//Desktop font sizes
$p-size-dt:1.25vw;
$h1-size-dt:2.847vw;
$h2-size-dt:2.0138vw;
$h3-size-dt:2.22vw;