.footer:before {
    content: "";
    display: block;
    height: 10vw;
    width: 100%;
    background-image: url(../images/bg-footer-top-mobile.svg);
    background-size: 103% 10vw;
    background-repeat: no-repeat;

    @include for-desktop {
        background-image: url(../images/bg-footer-top-desktop.svg);
    }
}

.footer {
    width: 100vw;
    height: 220vw;

    color: #ffffff;
    font-family: $body-font;


    @include for-desktop {
        height: 38.88vw;

    }

    .two-col-block {
        margin-top: -2px;
        background-color: $huddle-cyan-dark;

        @include for-desktop {
            flex-direction: row-reverse;
            align-items: flex-start;

        }
    }

    .two-col-block__col-left,
    .two-col-block__col-right {
        flex: 1;
    }

    .two-col-block__col-left {
        padding-bottom: 20vw;

        @include for-desktop {
            padding-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }

    ul {
        list-style-type: none;
        font-size: 4.26vw;
        margin-bottom: 0;
        padding-left: 0;

        @include for-desktop {
            padding-left: 25%;
            font-size: 1.111vw;
        }


    }

    li {
        margin-bottom: 5vw;

        @include for-desktop {
            margin-bottom: 1.5vw;
        }
    }

    p {
        // padding-left: 10.666vw;
        text-align: left;
        color: #ffffff;
        font-size: 4.26vw;
        background-position: top left;
        background-repeat: no-repeat;

        @include for-desktop {
            // padding-left: 2.91vw;
            font-size: 1.111vw;
        }
    }

    h2 {
        margin-top: 0;
        padding-top: 0;
        text-align: left;
    }

    p.contact__tel,
    p.contact__email {
        padding-left: 10.666vw;

        @include for-desktop {
            padding-left: 2.91vw;

        }
    }

    p.contact__tel {
        background-image: url(../images/icon-phone.svg);
        background-size: 6.1vw;

        @include for-desktop {
            background-size: 1.527vw;
        }
    }

    p.contact__email {
        background-image: url(../images/icon-email.svg);
        background-size: 7.466vw;

        @include for-desktop {
            background-size: 1.597vw;
        }
    }



    .copyright {
        text-align: center;
        font-size: 2vw;

        @include for-desktop {
            text-align: right;
            font-size: 0.9vw;
            padding-right: 1.7vw;
        }
    }

    .contact {
        padding-bottom: 7vw;

        @include for-desktop {
            padding-bottom: 0;
        }
    }

    ion-icon {
        font-size: 8.53vw;

        @include for-desktop {
            font-size: 2.222vw;
        }

    }

    .social {
        align-self: center;
        text-align: center;

        @include for-desktop {
            align-self: flex-start;
            text-align: left;
            padding-top: 3.7vw;

        }

    }

    input {
        border-radius: 5px;
        font-size: $p-size-m;
        height: 13.333vw;
        border: 0;

        @include for-desktop {
            height: 3.472vw;
            font-size: $p-size-dt;
        }
    }

    input[type=text] {

        color: $huddle-grey-blue;
        width: 78.14vw;
        background-color: #ffffff;
        font-family: $body-font;

        @include for-desktop {
            width: 22.291vw;

        }
    }

    input[type=submit] {
        width: 42.666vw;
        background-color: $huddle-pink;
        color: #ffffff;
        font-family: $heading-font;
        margin-top: 3vw;
        float: right;

        @include for-desktop {
            width: 11.25vw;
            margin-top: 0;
        }

    }


}

.footer_logo {
    width: 54.133vw;
    height: 8.8vw;

    @include for-desktop {
        width: 16.666vw;
        height: 2.708vw;
    }

    path {
        fill: #ffffff;
    }
}